<table class='table table-striped'>
  <tr class='info'>
    <td class='info'>
      <h1><%= @query.title %></h1>
    </td>
  </tr>
  <tr>
    <td>
      <%=markdown(@query.body)%>
    </td>
  </tr>
  <tr class='success'>
    <td class='success'>
      <h3>Answers</h3>
    </td>
  </tr>
  <% if @query.answers.count > 0 %>
  <% @query.answers.each do |ans| %>
  <tr>
    <td>
      <%= markdown(ans.body) %>
    </td>
  </tr>
  <% end %>

<% else %>
  <tr>
    <td>
      No one has answered this yet!
    </td>
  </tr>
  <%end %>
  <tr>
    <td>
      <%= simple_form_for [@query, Answer.new] do |f| %>
        <%= f.input :body, label: 'Answer' %>
        <%= f.submit "Submit Answer", class: "btn btn-primary" %>
      <% end %>
    </td>
  </tr>
</table>
